/* Natalia Blanco Agudín UO295340 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* Colores:
    - color fondo: #E6F0FF (azul clarito)
    - color texto: #002b74 (azul oscuro)
    - color texto nav a activo: #FFAF7A (naranja clarito)
    - color fondo nav a encima: #011840 (azul muy oscuro)
    - color texto de a (http) sin visitar: #011840 (azul oscuro)
    - color texto de a (http) visitado: #740c3e (rojo burdeos)
    - color fondo de a (http) encima: #011840 (azul oscuro)
    - color texto de a (http) encima: #E6F0FF (azul clarito)
*/

/* CONTRASTES:
        Descripción:                            Color 1:                    Color 2:            Contrast Radio:
      Página principal                      Fondo: #E6F0FF              Texto: #002b74              11.43:1
      Barra de navegación (a no activo)     Fondo: #002b74              Texto: #E6F0FF              11.43:1
      Barra de navegación (a activo)        Fondo: #002b74              Texto: #FFAF7A              7.3:1
      Barra de navegación (a encima)        Fondo: #011840              Texto: #E6F0FF              15.15:1
      Enlaces a (sin visitar)               Fondo: #011840              Texto: #E6F0FF              15.15:1
      Enlaces a (vistado)                   Fondo: #E6F0FF              Texto: #740c3e              9.79:1
      Enlaces a (encima)                    Fondo: #011840              Texto: #E6F0FF              15.15:1
      Tabla (encabezados)                   Fondo: #002b74              Texto: #E6F0FF              11.43:1
      Tabla (titulo)                        Fondo: #E6F0FF              Texto: #011840              15.15:1
*/

/* ESPECIFICIDAD: 001*/
/* Reglas sobre el elemento body; estas reglas las hereadan todos los elementos de la pagina*/
body {
    background-color: #E6F0FF;  /* Fondo: Azul clarito*/
    font-family: "Trebuchet MS", sans-serif;
    color: #002b74              /* Texto: Azul oscuro*/
}

/* ESPECIFICIDAD: 001*/
header {
    background-color: #002b74;  /* Fondo: Azul oscuro*/
    /* advertencia de color de texto porque se establece en la regla header a */
}

/* ESPECIFICIDAD: 002; ESPECIFICIDAD: 001*/
header a, h1{
    color: #E6F0FF;             /* Texto: Azul clarito*/
    /* advertencia de color de fondo porque se establece en la regla header (header a)*/
    /* advertencia de color de fondo porque se establece en la regla header (h1)*/
    text-decoration-line: none;
}

/* ESPECIFICIDAD: 002*/
nav a {
    padding: 0.125rem;
    transition: background-color 0.3s ease;
}

/* ESPECIFICIDAD: 012*/
nav a:hover {
    background-color: #011840;  /* Fondo: Azul muy oscuro*/
    /* advertencia de color de texto porque se establece en la regla header */
    border-radius: 0.25rem;
    text-decoration-line: underline;
}

/* ESPECIFICIDAD: 012*/
nav a.active {
    color: #FFAF7A;              /* Texto: Naranja clarito*/
    /* advertencia de color por herencia de color de fondo de header */
    font-weight: bold;
}

/* ESPECIFICIDAD: 002*/
/* Estilos para las migas de navegación */
header + p {
    font-size: 0.8em;
}

/*------------------ estilos para los enlaces http ------------------- */
/* ESPECIFICIDAD: 021*/
/* Estilos para los enlaces que empiecen con http (los enlaces externos) 
   que aún no han sido visitados */
a[href^="http"]:link{
    color: #011840;         /* Texto: Azul muy oscuro */
    /* advertencia de color por herencia de color de fondo de body */
    text-decoration-line: underline;
}

/* ESPECIFICIDAD: 021*/
/* Estilos para los enlaces que empiecen con http (los enlaces externos) 
   que ya han sido visitados */
a[href^="http"]:visited{
    color: #740c3e;     /* Texto: Rojo burdeos*/
    /* advertencia de color por herencia de color de fondo de body */
}

/* ESPECIFICIDAD: 021*/
/* Estilos para los enlaces que empiecen con http (los enlaces externos) 
   cuando el usuario pasa el ratón */
a[href^="http"]:hover {
    background-color: #011840;  /* Fondo Azul muy oscuro */
    color: #E6F0FF;             /* Texto: Azul clarito*/
    border-radius: 0.25rem;
}

/*------------------ estilos para las listas ------------------- */
/* ESPECIFICIDAD: 002; ESPECIFICIDAD: 002*/
li::marker{
    font-weight: bold;
}

/* ESPECIFICIDAD: 002; ESPECIFICIDAD: 002*/
dl>dt{
    font-weight: bold;
    text-decoration-line: underline;
}

/*------------------ estilos para la tabla ------------------- */
/* ESPECIFICIDAD: 001 */
table{
    width: 100%;
    border-collapse: collapse;
    margin: 1.5em 0;
    text-align: center;
}

/* ESPECIFICIDAD: 001 */
caption{
    caption-side: top;
    font-weight: bold;
    font-size: 1em;
    color:#011840;      /* Texto: Azul muy oscuro */
    /* advertencia de color por herencia de color de fondo de body */
    margin-bottom: 0.5em;
}

/* ESPECIFICIDAD: 001 */
th{
    background-color: #002b74;          /* Fondo: Azul oscuro*/
    color:#E6F0FF;
    padding:0.75em;
    border: 0.1rem solid #011840;       /* Borde: Azul muy oscuro */  
}

/* ESPECIFICIDAD: 001 */
td{
    padding: 0.75em;
    border: 0.1rem solid #011840;   /* Borde: Azul muy oscuro */
}