/* Natalia Blanco Agudín UO295340 */
/* Estilos para el posicionamiento del proyecto MotoGP-Desktop */

/* advertencia linea 0: redefinición column-gap y row-gap se produce
en la linea 42*/

/* ESPECIFICIDAD: 001*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}

/* ESPECIFICIDAD: 001*/
nav {
    display: flex;
    flex-direction: row;
    gap: 1.75em;
}

/*------------------ estilo para el mapa ------------------- */
/* ESPECIFICIDAD: 002*/
section > div {
    width: 100%;
    height: 60vh;
}


/*------------------ MEDIA QUERIES -------------------------- */
@media (min-width: 320px) and (max-width: 799px) {
    /* ESPECIFICIDAD: 001, ESPECIFICIDAD: 001*/
    header, nav {
        /* No tenemos que poner display:flex porque ya lo tiene de normal*/
        /* advertencia por redefinción por media query */
        flex-direction: column;
        /* advertencia por redefinción por media query */
        align-items: flex-start;
    }

    /* ESPECIFICIDAD: 001*/
    nav {
        /* advertencia por redefinción por media query */
        gap: 1em;
        margin-top: 1rem;
    }

    /* ESPECIFICIDAD: 002*/
    header h1 {
        margin-bottom: 0;
    }

    /* ESPECIFICIDAD: 002*/
    /* Estilos para las migas de navegación */
    header + p {
        display: none;
    }

    /* ESPECIFICIDAD: 001 */
    video {
        width: 100%;
        height: auto;
    }

    /* ESPECIFICIDAD: 001 */
    audio {
        width: 100%;
    }

    /* ESPECIFICIDAD: 003*/
    /* Estilos para las imagenes del carrusel de fotografias del inicio*/
    article h2 + img {
        width: 100%;
        height: auto;
    }

    /* ESPECIFICIDAD: 002*/
    section > div {
        /* advertencia por redefinción por media query */
        height: 50vh;
    }
} 
