/* Natalia Blanco Agudín UO295340 */
/* Estilos para el juego de memoria del proyecto MotoGP-Desktop */

/* advertencia linea 0: redefinición column-gap y row-gap se produce
en la linea 42*/
/* ESPECIFICIDAD: 001*/
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.8em;
    row-gap: 0.8rem;
    justify-items: center;
    align-items: center;
    margin: 2rem auto;
}

/* ESPECIFICIDAD: 002*/
main h2{
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
}

/* ESPECIFICIDAD: 002*/
main > p{
    grid-column: 1 / -1;
    grid-row: 2;
    text-align: center;
}

/* MEDIAS QUERIES */
@media (min-width: 320px) and (max-width: 799px) {

    /* ESPECIFICIDAD: 001*/
    main {
        /* advertencia por redefinción por media query */
        grid-template-columns: repeat(2, 1fr);
    }
}