/* Natalia Blanco Agudín UO295340 */
/* Estilos para el posicionamiento del proyecto MotoGP-Desktop */

/* ESPECIFICIDAD: 001*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}

/* ESPECIFICIDAD: 001*/
nav {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}


/* MEDIAS QUERIES */
@media (min-width: 320px) and (max-width: 799px) {
    /* ESPECIFICIDAD: 001, ESPECIFICIDAD: 001*/
    header, nav {
        /* No tenemos que poner display:flex porque ya lo tiene de normal*/
        flex-direction: column;
    }

    /* ESPECIFICIDAD: 002*/
    /* Estilos para las migas de navegación */
    header + p {
        display: none;
    }

    /* ESPECIFICIDAD: 001 */
    video {
        width: 100%;
        height: auto;
    }

    /* ESPECIFICIDAD: 001 */
    audio {
        width: 100%;
    }
} 
